<div style="background-image:url('https://i.giphy.com/media/EJ7qKQn7U0TnO/giphy.webp');width:100vw;height:100vh;text-align:center;">
<p style="color:white;font-weight:1000;"> <%= errors[0].message %> </p>
</div>