<h1>Latest Posts from BlogPulse</h1>

<a class="badge" href="/authors">Show all Authors</a>
<a class=btn href="/authors/new">Add a new author</a>
<a href="/posts/new">Add a new post</a>
<% posts.forEach(post => {  %>
    <div class="well">
        <h2><a href="/posts/<%= post.id %>"><%= post.title %> </a> by <%= post.author.name %></h2>
    </div>
<% }); %>