<h1>All posts with <%= tag.name %></h1>

<h2>Posts with</h2>
<% author.posts.forEach(function(post) { %>
    <div class="well">
        <h3>
            <a href="/posts/<%= post.id %>"> <%= post.title %></a>
        </h3>
    </div>
<% }) %>